*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;       /*.....if some thing wrong in image background.....*/
    background-image: url(./images/background.jpg);
}
.container{
    width: 40%;
    background-color: rgba(46, 46, 178, .8);
    margin-left: 32%;
    margin-top: 3%;
    text-align: center;
    border-radius: 15px 15px 0 0 ;
}
.btnsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left: 32%;
    background: white;
    align-items: center;
}
.choices{
    width: 33.2%;
    padding: 2.5% 0;
    background:chartreuse;
    font-size: 15px;
}
#playAgain{
    width: 10%;
    padding: 1% 0;
    margin-left: 47%;
    background-color: brown;
    font-size: 20px;
    font-weight: bold;
}
.choices :hover{
    cursor: pointer;
    background-color: blue;
}
#playAgain :hover{
    cursor: pointer;
}
.container #result {
    color: red;
}